.glass-magnifier {
  position: relative;
  display: inline-block;
}

.glass-magnifier .ReactImageMagnify__image {
  display: block;
  width: 100%;
  height: auto;
}

.glass-magnifier .ReactImageMagnify__large-image {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
}

.glass-magnifier .ReactImageMagnify__glass {
  position: absolute;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.85);
  pointer-events: none;
}

.glass-magnifier .ReactImageMagnify__hint {
  display: none;
}

.glass-magnifier .ReactImageMagnify__hint--always {
  display: block;
}

.glass-magnifier .ReactImageMagnify__hint--activating {
  display: none;
}
